@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
     Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Add New User Role:</h2>

@using (Html.BeginForm())
{
    <p> Enter User Role Name:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" />
}